.card {
  background-color: #EBEF40;
  display: inline-block;
  box-sizing: border-box;
  padding: 16px;
  width: 25%;
}

.card_colorFirst {
  background-color: #45AAEE;
}
.card_colorSecond {
  background-color: #FF1010;
}
.card_colorThird {
  background-color: #76EF40;
}
.card_colorFourth {
  background-color: #EBEF40;
}
